.waypoint-item {
    padding: 5px 12px 5px 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &--info {
        flex-grow: 1;
        min-width: 0;
    }

    &--actions {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}
