@import '../../inc.scss';

.modal {
    position: absolute;

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .75);
        z-index: 1100;
    }

    &-window {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1101;
        min-width: 400px;
    }

    &-title {
        background: $color-primary-bg;
        color: $color-primary-fg;
        padding: 0 14px;
        line-height: 40px;
        font-weight: 900;
    }

    &-content {
        padding: 10px 14px;
        background: #ffffff;
    }
}
