@import './sizes.scss';
@import './mixins.scss';

%hide-scrollbar {
    // Firefox 64+
    scrollbar-width: thin;

    ::-webkit-scrollbar {
        width: 8px;
    }
}

%nowrap-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

%user-text {
    white-space: pre-wrap;
}
